@model MVC_Data.ViewModels.CreatePeopleViewModel

@{

}

@if (@Model != null)
{
	<div class="row">
		<div class="col">@(Html.DisplayNameFor(model => model.NewPerson.City.Id))
		</div>
		<div class="col">@(Html.DisplayNameFor(model => model.NewPerson.Name))
		</div>
		<div class="col">@(Html.DisplayNameFor(model => model.NewPerson.PhoneNumber))
		</div>
		<div class="col">@(Html.DisplayNameFor(model => model.NewPerson.City))
		</div>
		<div class="col">@(Html.DisplayNameFor(model => model.NewPerson.City.Country))
		</div>
		<div class="col">@(Html.DisplayNameFor(model => model.NewPerson.Languages))
		</div>
		<div class="col">&nbsp;</div>
	</div>
}
else
{
	<p>No results found.</p>
}