@model MVC_Data.ViewModels.PersonViewModel

@{

}

@*<h1>@ViewBag.Title</h1>*@

@if(@Model != null){

    <div class="container">

        @foreach (var item in Model.People)

        {

        <div class="row">
                <div class="col">
                    <label asp-for="@item.Id" />@item.Id
                </div>
            <div class="col">
                <label asp-for="@item.Name"/>@item.Name
            </div>
            <div class="col"><label asp-for="@item.PhoneNumber"/>@item.PhoneNumber
            </div>
            <div class="col"><label asp-for="@item.City"/>@item.City
            </div>
@*            <div class="col">
                <a asp-controller="Person" asp-action="DeletePerson" asp-route-id="@item.Id" asp-route-name="@item.Name">Delete
                </a>
            </div>*@
        </div>
        }
    </div>
}