@model MVC_Data.Models.Person

@{
    //ViewData["Title"] = "Row";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>@ViewBag.Title</h1>*@

@if(@Model != null){
<div class="row">
    <div class="col" asp-for="@Model.Name">@Model.Name</div>
    <div class="col" asp-for="@Model.PhoneNumber">@Model.PhoneNumber</div>
    <div class="col" asp-for="@Model.City">@Model.City</div>
    <div class="col">
        <a asp-controller="Person" asp-action="DeletePerson" asp-route-id="@Model.Id" asp-route-name="@Model.Name">Delete</a>
    </div>
</div>
}