@model MVC_Data.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


<form class="container" method="post" asp-action="FilterPersonCity">
    <label>Search</label><br />
    <input type="text" name="filterInput"/>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<form class="container" method="post" asp-action="AddPerson">
    <label>New User Form:</label>
    <br />
    <input type="text" asp-for="NewPerson.Name" placeholder="Full Name" required />
    <input type="text" asp-for="NewPerson.PhoneNumber" placeholder="Phone Number" required />
    <input type="text" asp-for="NewPerson.City" placeholder="City Name" required />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<br />
<p>@ViewBag.Statement</p>


@if (@Model != null)
{ 
    <table class="table">
        <thead>
            <tr>
                <th asp-for="model => NewPerson.Name" value="NewPerson.Name">
                </th>
                <th asp-for="model => NewPerson.PhoneNumber" value="NewPerson.PhoneNumber">
                </th>
                <th asp-for="model => NewPerson.City" value="NewPerson.City">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.People)
            {
                <tr>
                    <td asp-for="@c.Name">@(c.Name)
                    </td>
                    <td asp-for="@c.PhoneNumber">@(c.PhoneNumber)
                    </td>
                    <td asp-for="@c.City">@(c.City)

                    </td>
                    <td>
                        @*Skickar in id och namn till Delete funktionen*@
                        <a asp-controller="Person" asp-action="DeletePerson" asp-route-id="@(c.Id)" asp-route-name="@(c.Name)" >Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No results found.</p>
}


<p>
    <a asp-controller="Person" asp-action="PersonView">Refresh Table</a>
</p>