@model MVC_Data.ViewModels.PersonViewModel

@{
    ViewData["Title"] = "People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewBag.Title</h1>


<form class="container" method="post" asp-action="FilterPersonCity">
    <label>Search</label><br />
    <input type="text" name="filterInput"/>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<form class="container" method="post" asp-action="AddPerson">
    <label>New User Form:</label>
    <br />
    <input type="text" asp-for="NewPerson.Name" placeholder="Full Name" required />
    <input type="text" asp-for="NewPerson.PhoneNumber" placeholder="Phone Number" required />
    <input type="text" asp-for="NewPerson.City" placeholder="City Name" required />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<br />
<p>@ViewBag.Statement</p>


@if (@Model != null)
{ 
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NewPerson.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewPerson.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NewPerson.City)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.People)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => c.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => c.City)
                    </td>
                    <td>
                        @*Skickar in id och namn till Delete funktionen*@
                        @Html.ActionLink("Delete", "DeletePerson", "Person", new {  
                            id=c.Id,name=c.Name  })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script> console.log(ViewBag.Log) </script >

}
else
{
    <p>No results found.</p>
}


<p>
    <a asp-controller="Person" asp-action="PersonView">Refresh Table</a>
</p>